log/
checkpoints/*
**/__pycache__
datasets/

*.out
*.ipynb
log_*

test.py
dataset_process.py

mosei_train_biased_degree_2.json
mosei_train_biased_degree_7.json
mosei_train_freq_2.json
mosei_train_freq_7.json

mosi_train_biased_degree_2.json
mosi_train_biased_degree_7.json
mosi_train_freq_2.json
mosi_train_freq_7.json

mosei_test_ood_dict_2.json
mosei_test_ood_freq_2.json

MOSEI-acoustic(2-pole)
MOSEI-visual(2-pole)
MOSI-acoustic
MOSI-acoustic(2-pole)
MOSI-visual
MOSI-visual(2-pole)

models/clue_model.py